/* Style général */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2; /* Gris clair doux */
    margin: 0;
    padding: 0;
    color: #444; /* Gris foncé */
    text-align: center;
}

h1 {
    font-size: 36px;
    color: #2c3e50; /* Bleu marine foncé */
    margin-top: 40px;
}

/* Section À propos */
#about {
    background-color: #a6cfe2; /* Bleu pastel */
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    text-align: left;
}

#about h2 {
    font-size: 24px;
    color: #2c3e50;
}

#about p {
    font-size: 18px;
    line-height: 1.6;
}

/* Section Projets */
#portfolio {
    background-color: #a8d5ba; /* Vert pastel */
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

#portfolio h2 {
    font-size: 24px;
    color: #2c3e50;
}

.project {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.project h3 {
    font-size: 20px;
    color: #2c3e50;
    margin-bottom: 10px;
}

.project p {
    font-size: 16px;
    color: #444;
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}

.project a {
    color: #2c3e50;
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}

/* Section Compétences */
#skills {
    background-color: #bfa3da; /* Violet pastel */
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

#skills h2 {
    font-size: 24px;
    color: #2c3e50;
}

#skills ul {
    list-style-type: none;
    padding: 0;
}

#skills li {
    font-size: 18px;
    margin-bottom: 10px;
    color: #444;
}

#skills li strong {
    color: #2c3e50;
}

/* Section Expérience */
#experience {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

#experience h2 {
    font-size: 24px;
    color: #2c3e50;
}

.experience {
    margin-bottom: 20px;
}

.experience h3 {
    font-size: 20px;
    color: #2c3e50;
    margin-bottom: 10px;
}

.experience p {
    font-size: 16px;
    color: #444;
}

/* Section Certifications */
#certifications {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

#certifications h2 {
    font-size: 24px;
    color: #2c3e50;
}

#certifications ul {
    list-style-type: none;
    padding: 0;
}

#certifications li {
    font-size: 18px;
    margin-bottom: 10px;
    color: #444;
}

/* Section Contact */
#contact {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    text-align: left;
}

#contact h2 {
    font-size: 24px;
    color: #2c3e50;
}

#contact p {
    font-size: 16px;
    color: #444;
}

#contact a {
    color: #2c3e50;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}
